.pill {
    background: var(--background-secondary-alt);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
}

.wrapper {
    background: var(--background-tertiary);
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}